Source: libpgp-sign-perl
Section: perl
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 gnupg,
 gnupg1,
 libipc-run-perl,
 libmodule-build-perl,
 libtest-minimumversion-perl,
 libtest-pod-coverage-perl,
 libtest-pod-perl,
 libtest-strict-perl,
 libtest-synopsis-perl,
 perl,
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-perl
Maintainer: Russ Allbery <rra@debian.org>
Standards-Version: 4.5.0
Homepage: https://www.eyrie.org/~eagle/software/pgp-sign/
Vcs-Git: https://git.eyrie.org/git/perl/pgp-sign.git -b debian/master
Vcs-Browser: https://git.eyrie.org/?p=perl/pgp-sign.git

Package: libpgp-sign-perl
Architecture: all
Depends:
 gnupg | gnupg1,
 libipc-run-perl,
 ${misc:Depends},
 ${perl:Depends},
Multi-Arch: foreign
Description: Perl module to create detached PGP signatures
 PGP::Sign creates and checks detached PGP signatures for textual data
 using GnuPG.  Other PGP implementations are also supported with run-time
 configuration.  Secret key passphrases are passed via a pipe, and no
 temporary files are required for signature generation (but are for
 signature verification).
