#!/usr/bin/make -f

export AUTOMATED_TESTING = 1

%:
	dh $@

override_dh_installchangelogs:
	mkdir -p debian/tmp/usr/share/doc/libpgp-sign-perl
	cp Changes debian/tmp/usr/share/doc/libpgp-sign-perl/NEWS
